{%extends "userInfoBase.html"%}
{%block title%}View Transactions{%endblock%}

{%block content%}
<table class="table">
    <thead class="thead-dark">  
    <tr>
        <th scope="col">Bank Transaction ID</th>
        <th scope="col">Transaction Type</th>
        <th scope="col">Personal Account</th>
        <th scope="col">Sender/Receiver Account</th>
        <th scope="col">Transaction Date</th>
        <th scope="col">Transaction Value</th>
        <th scope="col">Transaction Message</th>
        <th scope="col">Balance</th>
    </tr>
    </thead>
    <tbody>
{%for i in range(0, length)%}
    <tr>
        <td>{{table_list[i][0]}}</td>
        <td>{{table_list[i][1]}}</td>
        <td>{{table_list[i][2]}}</td>
        <td>{{table_list[i][3]}}</td>
        <td>{{table_list[i][4]}}</td>
        <td>{{table_list[i][5]}}</td>
        <td>{{table_list[i][6]}}</td>
        <td>{{table_list[i][7]}}</td>
    </tr>
{%endfor%}
</tbody>
</table>
{%endblock%}