{%extends "userInfoBase.html"%}
{%block title%}UPI SYSTEM{%endblock%}

{%block content%}
<h1>
    UPI for Banking System
</h1>
<img src="/static/final.gif" alt="UPI image" ;>
<br />
<h3> UPI Transactions VS Bank Transactions </h3>
<canvas id="myChart" max-width="10" max-height="10"></canvas>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['UPI Transactions', 'Bank Transactions'],
            datasets: [{
                label: '# of Votes',
                data: [{{bank_transactions}}, {{upi_transactions}}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
        }
    });
    </script>
{%endblock%}