{%extends "userInfoBase.html"%}
{%block title%}Transaction{%endblock%}

{%block content%}
<a href="bankTransaction"><button display = "block" type="bank_transaction"  class="btn btn-primary">Bank Transaction</button></a>
<!--<button display = "block" type="bank_transaction"  class="btn btn-primary">Bank Transaction</button>-->
<a href="upiTransaction"><button display = "block" type="upi_transaction" class="btn btn-primary">UPI Transaction</button></a>
<!--<button display = "block" type="upi_transaction" class="btn btn-primary">UPI Transaction</button>-->
<a href="viewTransaction"><button display = "block" type="view_transaction" class="btn btn-primary">View Transaction</button></a>

{%endblock%}