{%extends "userInfoBase.html"%}
{%block title%}UPI Transaction{%endblock%}

{%block content%}
<form method = "POST">
    <h3 align = "center"> Make UPI Transaction </h3>
    <div class ="form-group">
        <label for="senderUpiId">Sender UPI email ID</label>
        <input
                type="senderUpiId"
                class="form-control"
                id="senderUpiId"
                name="senderUpiId"
                placeholder="Enter sender UPI email ID"
        />
    </div>
    <div class ="form-group">
        <label for="receiverUpiId">Receiver UPI email ID</label>
        <input
                type="receiverUpiId"
                class="form-control"
                id="receiverUpiId"
                name="receiverUpiId"
                placeholder="Enter receiver UPI email ID"
        />
    </div>
    <div class ="form-group">
        <label for="transactionAmount">Amount to be transferred</label>
        <input
                type="transactionAmount"
                class="form-control"
                id="transactionAmount"
                name="transactionAmount"
                placeholder="Enter amount to be transferred"
        />
    </div>
    <!-- <div class ="form-group">
        <label for="transactionMessage">Transaction message</label>
        <input
                type="transactionMessage"
                class="form-control"
                id="transactionMessage"
                name="transactionMessage"
                placeholder="Enter transaction message"
        />
    </div> -->
    <br />
    <button id = "makeUpiTransaction" type="makeUpiTransaction" class="btn btn-primary">Make UPI transaction</button>
</form>
<form method = "POST">
    <h3 align = "center"> Register to UPI as customer</h3>
    <div class ="form-group">
        <label for="bankAccount">Bank account</label>
        <input
                type="bankAccount"
                class="form-control"
                id="bankAccount"
                name="bankAccount"
                placeholder="Enter bank account"
        />
    </div>
    <div class ="form-group">
        <label for="email">Email ID</label>
        <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email ID"
        />
    </div>
    <br />
    <button id = "registerToUPIasCustomer" type="registerToUPIasCustomer" class="btn btn-primary">Register to UPI</button>
    <br />
</form>
<form method = "POST">
    <h3 align = "center"> Register to UPI as merchant</h3>
    <div class ="form-group">
        <label for="bankAccountNumber">Bank account</label>
        <input
                type="bankAccount"
                class="form-control"
                id="bankAccountNumber"
                name="bankAccountNumber"
                placeholder="Enter bank account"
        />
    </div>
    <div class ="form-group">
        <label for="gstNumber">GST Number</label>
        <input
                type="bankAccount"
                class="form-control"
                id="gstNumber"
                name="gstNumber"
                placeholder="Enter GST number linked to your business"
        />
    </div>
    <!-- <div class ="form-group">
        <label for="emailId">Email ID</label>
        <input
                type="emailId"
                class="form-control"
                id="emailId"
                name="emailId"
                placeholder="Enter email ID"
        />
    </div> -->
    <div class ="form-group">
        <label for="email">Email ID</label>
        <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email ID"
        />
    </div>
    <div class ="form-group">
        <label for="buildingNumber">Building Number</label>
        <input
                type="buildingNumber"
                class="form-control"
                id="buildingNumber"
                name="buildingNumber"
                placeholder="Enter building number"
        />
    </div>
    <div class ="form-group">
        <label for="streetName">Street Name</label>
        <input
                type="streetName"
                class="form-control"
                id="streetName"
                name="streetName"
                placeholder="Enter street name"
        />
    </div>
    <div class ="form-group">
        <label for="city">City</label>
        <input
                type="city"
                class="form-control"
                id="city"
                name="city"
                placeholder="Enter city"
        />
    </div>
    <div class ="form-group">
        <label for="state">State</label>
        <input
                type="state"
                class="form-control"
                id="state"
                name="state"
                placeholder="Enter state"
        />
    </div>
    <div class ="form-group">
        <label for="pin">Pin</label>
        <input
                type="pin"
                class="form-control"
                id="pin"
                name="pin"
                placeholder="Enter pin"
        />
    </div>
    <br />
    <button id = "registerToUPIasMerchant" type="registerToUPIasMerchant" class="btn btn-primary">Register to UPI</button>
    <br />
    <br />
    <h6 align = "center"> If you don't have a bank account: <a href="/bankTransaction">Create Bank Account</a></h6>
</form>

{%endblock%}