{%extends "userInfoBase.html"%}
{%block title%}View UPI Transactions{%endblock%}

{%block content%}
<h3 align = "center"> Bank Account Details</h3>
<table class="table">
    <thead class="thead-dark">  
    <tr>
        <th scope="col">Bank Name</th>
        <th scope="col">Branch ID</th>
        <th scope="col">Bank Account</th>
        <th scope="col">Balance</th>
        <th scope="col">Building Number</th>
        <th scope="col">Street Name</th>
        <th scope="col">City</th>
        <th scope="col">Pin</th>
    </tr>
    </thead>
    <tbody>
    {%for i in range(0, length)%}
    <tr>
        <td>{{table_list[i][0]}}</td>
        <td>{{table_list[i][1]}}</td>
        <td>{{table_list[i][2]}}</td>
        <td>{{table_list[i][3]}}</td>
        <td>{{table_list[i][4]}}</td>
        <td>{{table_list[i][5]}}</td>
        <td>{{table_list[i][6]}}</td>
        <td>{{table_list[i][7]}}</td>
    </tr>
    {%endfor%}
</tbody>
</table>
<br />
<h3 align = "center"> UPI Consumer Account Details</h3>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Bank Account</th>
        <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    {%for i in range(0, consumer_length)%}
    <tr>
        <td>{{consumer_table_list[i][0]}}</td>
        <td>{{consumer_table_list[i][1]}}</td>
    </tr>
    {%endfor%}
    </tbody>
</table>
<br />
<h3 align = "center"> UPI Merchant Account Details</h3>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Bank Account</th>
        <th scope="col">Email</th>
        <th scope="col">GST Number</th>
        <th scope="col">Fee Percentage</th>
    </tr>
    </thead>
    <tbody>
    {%for i in range(0, merchant_length)%}
    <tr>
        <td>{{merchant_table_list[i][0]}}</td>
        <td>{{merchant_table_list[i][1]}}</td>
        <td>{{merchant_table_list[i][2]}}</td>
        <td>{{merchant_table_list[i][3]}}</td>
    </tr>
    {%endfor%}
    </tbody>
</table>

{%endblock%}