{%extends "base.html"%}
{%block title%}View Transactions{%endblock%}

{%block content%}
<form method = "POST">
    <h3 align = "center"> Make Bank to Bank transaction </h3>
    <div class ="form-group">
        <label for="bankAccountNumber">Sender Account Number</label>
        <input
                type="bankAccountNumber"
                class="form-control"
                id="bankAccountNumber"
                name="bankAccountNumber"
                placeholder="Enter bank account number"
        />
    </div>
    <button id = "viewTransaction" type="viewTransaction" class="btn btn-primary">View Transactions</button>
</form>
{%endblock%}